selector {
    propiedad: valor;
}

/*imports*/
@import url('https://fonts.googleapis.com/css2? familia= Roboto:ital,peso@0,400;1,300 & display=swap');



/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


/*esta clase tiene el color principal de la pagina*/
.colorfondoPrincipal{
    background-color: rgba(228, 80, 104, 0.644)
}

/*estilados del body*/
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*estilados del header*/

.navegacionHeader{
    display: flex;
    justify-content: space-between
}
.header{
    background-color: rgba(240, 53, 84, 0.541);
    margin-bottom: 20px;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.listaNavegacion{
    display: flex;
    list-style: none;
    margin: 10px;
    justify-content: flex-end;
    margin-left: 730px;

}
.ul{
    list-style: none;
}
.linkNav{
    display: flex;
    text-decoration: none;
    background-color: rgb(237, 192, 255);
    color: black;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 5px;
    width: 100px;
    margin: right 10px;
    }
/*estilados seccion principal del index*/
.sectionPrincipalIndex{
    background-color: rgb(49, 102, 36);
    font-size: 20px;
}
/*estilos centrados de texto*/
.textoCentrado{
    text-align: left;
}

/*estilo de caja*/
/*.caja{
    display:inline-block;
    width: 50%; /*% son unidades de medida relativas, se adapta a su contenedor*/
    


/*estilo de fotos de galeria en sobre mi*/
.imagenGaleria{
    width: 30%;
    height: 230px;
    object-fit: cover;
    align-items: center;

}
.claseParrafo{
    width: 30%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
.claseGaleriacarrusel{
    width: 100%;
}
.carrusel{
    height: 50%;
}

.main{
   background-color: rgba(88, 224, 88, 0.493);
}

    
.contenedoresdeRedesSociales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.anclaRedSocial{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

/*medias queries que adapten los componentes y estilados a una versión mobile*/

