selector {
    propiedad: valor;
}

/*imports*/
@import url('https://fonts.googleapis.com/css2? familia= Roboto:ital,peso@0,400;1,300 & display=swap');



/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*esta clase tiene el color principal de la pagina*/
.colorfondoPrincipal{
    background-color: rgb(170, 91, 104)
}
/*estilados del header*/


.navegacionHeader{
    display: flex;
    justify-content: space-between
}
.header_sticky{
    background-color: pink;
    margin-bottom: 20px;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.listaNavegacion{
    display: flex;
    list-style: none;
    margin: 10px;
    justify-content: flex-end;
    margin-left: 730px;

}
.ul{
    list-style: none;
}
.linkNav{
    display: flex;
    text-decoration: none;
    background-color: rgb(237, 192, 255);
    color: black;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 5px;
    width: 100px;
    margin: right 10px;
    }
/*estilados seccion principal del index*/
.sectionPrincipalIndex{
    background-color: rgb(49, 102, 36);
    font-size: 20px;
}
/*estilos centrados de texto*/
.textoCentrado{
    text-align: left;
}

/*estilo de caja*/
.caja{
    display:inline-block;
    width: 50%; /*% son unidades de medida relativas, se adapta a su contenedor*/
    height: 50%;
    margin-left: 50px;
    padding: 30px;
    margin: 10px;
}

/*estilo de fotos de galeria en sobre mi*/
.contenedorGaleria{
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.fotoGaleria{
    background-color:white;
    border: 1px solid black;
    width: 30%;
    height: 50vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}



.main{
   background-color: rgba(88, 224, 88, 0.493);
}

    





.footer{
    background-color: rgba(88, 224, 88, 0.493);
   
}
.contenedoresdeRedesSociales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.anclaRedSocial{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

/*medias queries que adapten los componentes y estilados a una versión mobile*/

